html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    line-height: 1.5;
    font-family: 'PT Sans', sans-serif;
}

.container {
    max-width: 1440px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.flex-container {
    padding-left: 15px;
    padding-right: 15px;
}

header .container {
    min-height: 80px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 30px;
    padding-top: 13px;
}

.documentation {
    background-image: url("/img/bg-picture.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100% 357px;

}

img {
    margin-bottom: 20px;
    align-items: flex-end;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center
}

.language {
    font-family: 'Tourney', cursive;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    padding-right: 30px;
    margin-bottom: 10px;
}

ul.breadcrumb {
    font-family: 'Staatliches', cursive;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    background-color: #fff;
    color: #000;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #000;
    text-decoration: underline;
}

ul.menu {
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'Francois One', sans-serif;
    background-color: #fff;
    color: #000;
    list-style: none;
    text-align: center;

}

ul.menu li {
    font-family: 'Francois One', sans-serif;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 24px;
    border-bottom: 1px solid #BDBDBD;
    min-height: 30px;
}


ul.menu li a {
    background-color: #fff;
    color: #000;
    text-decoration: none;
}

ul.menu li a:hover {
    color: #000;
}

h2 {
    margin-bottom: 20px;
    font-family: 'Francois One', sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    display: flex;
    flex-direction: column;
}

h2 .chapter {
    font-family: 'Farro', sans-serif;
    font-size: 16px;
    letter-spacing: 0.04em;
    text-transform: none;
}

section {
    margin-bottom: 40px;
}

section::before {
    content: '';
    background-color: #000;
    width: 100px;
    height: 8px;
    position: absolute;
}

section p {
    margin-bottom: 23px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}

p .bolt {
    font-weight: 700;
}

p .italic {
    font-style: italic;
}

p .fon {
    background-color: #DADADA;
}

p .underline {
    text-decoration: underline;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    padding-left: 2px;
    text-align: left;
    margin-bottom: 30px;
}

h1::before {
    content: '';
    background-color: #000;
    width: 100px;
    height: 8px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;

}

.card-list {
    border-top: 1px solid #BFBFBF;
    border-bottom: 1px solid #BFBFBF;
    border-radius: 1px;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.flip-card {
    background-color: transparent;
    width: 270px;
    height: 180px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateX(-180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 8px;
}

.flip-card-back {
    background-color: #000;
    transform: rotateX(180deg);
}


@media only screen and (min-width: 768px) {
    header .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header {
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #fff;
        width: 100%;
        z-index: 2;
    }

    .documentation {
        background-position: 100% 121px;
    }

    .left {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .language {
        padding-left: 5px;
    }

    .side-bar {
        position: relative;
        min-height: 385px;
        min-width: 32%;
        margin-right: 10px;

    }

    ul.menu {
        position: sticky;
        top: 150px;
        font-size: 24px;
        text-align: left;
    }

    ul.menu li {
        margin-bottom: 40px;
        min-height: 36px;
    }

    .flex-container {
        display: flex;
        margin: auto;
        margin-top: 150px;
    }

    h2 {
        margin-bottom: 48px;
        font-size: 32px;
        display: flex;
        flex-direction: row;
    }

    h2 .chapter {
        font-size: 18px;
        margin-left: 8px;
    }

    h1 {
        font-size: 32px;
        margin-bottom: 30px;
        margin-top: 109px;
    }
}


@media only screen and (min-width: 1200px) {
    header {
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #fff;
        width: 100%;
        height: 80px;
        z-index: 2;
        padding-left: 15px;

    }

    header .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 85px;
    }

    .documentation {
        background-position: 100% 80px;
    }

    .left {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .flex-container {
        max-width: 1440px;
        display: flex;
        margin: auto;
        margin-top: 150px;
    }

    .side-bar {
        position: relative;
        min-height: 385px;
        min-width: 30%;
        margin-right: 30px;
        padding-left: 10px;
    }

    ul.menu {
        position: sticky;
        top: 150px;
        font-size: 36px;
    }

    ul.menu li {
        margin-bottom: 70px;
        min-height: 58px;
    }


    .language {
        padding-left: 5px;
        margin-right: 50px;
    }

    ul.breadcrumb li {
        font-size: 22px;
    }

    h2 {
        margin-bottom: 64px;
        font-size: 36px;
        display: flex;
        flex-direction: row;
    }

    h2 .chapter {
        font-size: 20px;
        margin-left: 10px;
    }

    section p {
        margin-bottom: 50px;
        font-size: 28px;
    }

    section {
        margin-bottom: 70px;
    }

    h1 {
        font-size: 36px;
        margin-bottom: 30px;
        margin-top: 109px;
    }

}